<h1>Listing patients</h1>

<table>
  <tr>
    <th>Numberoftag</th>
    <th>Idincident</th>
    <th>Tagcolor</th>
    <th>Sex</th>
    <th>Age</th>
    <th>Agetype</th>
    <th>Complaint</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%= patient.numberOfTag %></td>
    <td><%= patient.idIncident %></td>
    <td><%= patient.tagColor %></td>
    <td><%= patient.sex %></td>
    <td><%= patient.age %></td>
    <td><%= patient.ageType %></td>
    <td><%= patient.complaint %></td>
    <td><%= patient.status %></td>
    <td><%= link_to 'Show', patient %></td>
    <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
    <td><%= link_to 'Destroy', patient, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patient', new_patient_path %>
