<%= div_for ambulance do %>

      <tr>
        <td><%= ambulance, :idAmbulance %></td>
        <td><%= editable_field ambulance, :status, :type => 'collection_select', :data => (:ambulance, :hospital_id,Hospital.all ,:id, :name),:update_url => incident_ambulance_path(@incident, ambulance)%></td>
        <td><%= ambulance, :eta %></td>
        <td><%= button_to "X", [@incident, ambulance], :method=>:delete, :class=>:destroy, :confirm=>"Are you sure?", :remote => true %></td>

<% end %>

        