<h1><%= link_to "TRIAGE TAB", incident_patients_path(@incident) %>   AMBULANCE TAB</h1>

<div id="incident" data-id="<%= @incident.id %>"></div>

<br />

<%= render 'form' %>


<br />
<hr />

<div id="patient-notice"></div>
<br />
<div class="centerEverythingContainterNoBorder">
<table id="mciTable">
  <tr>
    <th>AMBULANCE</th>
    <th>STATUS</th>
    <th>HOSPITAL</th>
    <th>ETA</th>
	<th>REMOVE

  </tr>

	<%= render :partial => @ambulances, :locals => {:list => true} %>

</table>

<%form_for @incident, :url=> viewupdate_path do |f|%>

<% if @incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

      <ul>
      <% @incident.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<h1>Request ambulances</h1>
<%= submit_tag "-5", :type=> 'button', :class => 'minus5Ambulance'%>
<%= submit_tag "-1", :type=> 'button', :class => 'minus1Ambulance'%>
<%= f.text_field :requested_amb_count, :value => '0', :id => 'fieldAmbulance'  %>
<%= submit_tag "+1", :type=> 'button', :class => 'plus1Ambulance'%>
<%= submit_tag "+5", :type=> 'button', :class => 'plus5Ambulance'%>
<br /><br /><br />

<%= f.submit "NOTIFY DISPATCH"%>
<% end %>

<br />


</div>


