<h1>INCIDENT AMBULANCE TAB</h1>

REQUESTED AMBULANCES: <%= @incident.requested_amb_count %>
AMBULANCES SENT: <%= @incident.ambulances.count %><br />
AMBULANCES REQUESTED, NOT YET SENT: <%= @incident.requested_amb_count - @incident.ambulances.count %>

<div id="incident" data-id="<%= @incident.id %>"></div>

<br />

<%= render 'form' %>

<br />
<hr />

<div id="patient-notice"></div>
<br />

<table>
  <tr>
    <th>Ambulance</th>
    <th>status</th>
    <th>hospital</th>
    <th>eta</th>
    <th></th>
    <th></th>
  </tr>

<% @incident.ambulances.each do |ambulance| %>
  <tr>
    <td><%= ambulance.idAmbulance %></td>
    <td><%= ambulance.status %></td>
        <% @desthospital = Hospital.find(ambulance.hospital_id) %>
    <td><%= @desthospital.name %></td>
    <td><%= ambulance.eta %></td>
    <td><%= link_to 'Edit', edit_incident_ambulance_path(@incident, ambulance) %></td>
    <td><%= button_to "X", [@incident, ambulance], :method=>:delete, :class=>:destroy, :confirm=>"Are you sure?", :remote => true %></td>
  </tr>
<% end %>
</table>

<br />
REQUEST ADDITIONAL AMBULANCES
<%form_for @incident, :url=> viewupdate_path do |j|%>
<%= j.text_field :requested_amb_count, :value => 0%>
<%= j.submit "REQUEST" %>
<% end %>

<%= link_to 'New Ambulance', new_incident_ambulance_path(@incident) %><br />
<%= link_to "TRIAGE TAB", incident_patients_path(@incident) %>
