<!--
For more information on the technology stack selected, please refer to the document "Technology feasibility analysis"
Developed by: Carnegie Mellon University - Team Triage
Copyright:    Field Applications 
-->

<p id="notice"><%= notice %></p>

<p>
  <b>Idambulance:</b>
  <%= @ambulance.idAmbulance %>
</p>

<p>
  <b>Description:</b>
  <%= @ambulance.description %>
</p>

<p>
  <b>Description:</b>
  <%= @ambulance.description %>
</p>

<p>
  <b>Description:</b>
  <%= @ambulance.description %>
</p>

<p>
  <b>Description:</b>
  <%= @ambulance.description %>
</p>

<%= link_to 'Edit', edit_ambulance_path(@ambulance) %> |
<%= link_to 'Back', ambulances_path %>
