<h1>Listing ambulances</h1>

<table>
  <tr>
    <th>Idambulance</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ambulances.each do |ambulance| %>
  <tr>
    <td><%= ambulance.idAmbulance %></td>
    <td><%= ambulance.description %></td>
    <td><%= link_to 'Show', ambulance %></td>
    <td><%= link_to 'Edit', edit_ambulance_path(ambulance) %></td>
    <td><%= link_to 'Destroy', ambulance, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ambulance', new_ambulance_path %>
