<!--
For more information on the technology stack selected, please refer to the document "Technology feasibility analysis"
Developed by: Carnegie Mellon University - Team Triage
Copyright:    Field Applications 
-->

<div class="TopBar">
  <img class ="image"src ="../../images/LogoWhite.png"/>
    <br />
    <h1 class="TopBarInterior">CLOSE INCIDENT<hr /></h1>
  <br/>
</div>
<div class="CountLogin">
  <div class="CountInputs">
    <% untransported = @incident.untransported("At Scene") %>
    <br/>
  <span class="title"><%= untransported %></span><br /><br />
  <h2><%= link_to "TRIAGE", incident_patients_path(@incident) %>   <%= link_to "AMBULANCE", incident_ambulances_path(@incident)%></h2>
  EXIT THE INCIDENT AND GO TO THE INCIDENT LIST<br />
  <%= link_to "EXIT", incidents_path %><br /><br />
  CLOSE THE INCIDENT AND MARK IT AS COMPLETED<br />
  <%= link_to "CLOSE INCIDENT", closeincident_path, :confirm => "Are you sure?\nThis will mark the triage and transportation\nprocess as completed!" %>
  <br /><br/>
</div>
  <br/><br/>
</div>



