<div class="wrapper">
  <div class="TopBar">
  
    <br />
    <h1 class="TopBarInterior">MCIs in Progress<hr /></h1><br />
 </div>
  <br />
  <div class="centerEverythingContainterNoBorder">


<table id="mciTableHeader">
  <tr>
    <th class="date">Date</th>
    <th class ="type">Type</th>
    <th class="location">Location</th>
    <th class="latitude">Latitude</th>
    <th class="longitude">Longitude</th>
    <th> </th>
    <th></th>
  </tr>
</table>
  </div>
  <div class="scrollable">
    <table id="mciTable">
      <% @incidents.each_with_index do |incident, i| %>
        <% if i%2 == 0 %>
          <tr id ="even">
        <%else %>
          <tr>
        <% end%>

    <% if incident.date != nil %>
      <td><%= incident.date.strftime("%m/%d/%y %H:%I %p %Z") %></td>
    <% else %>
      <td> </td>
    <% end %>
	<% if incident.incident_type_id != nil %>
	<% incident_type_name = IncidentType.find(incident.incident_type_id)%>
    <td><%= incident_type_name.name %></td>
	<% else %>
	<td></td>
	<% end %>
    <td><%= incident.location %></td>
    <td><%= incident.latitude %></td>
    <td><%= incident.longitude %></td>
    <td><%= button_to 'OPEN', incident_patients_path(incident), {:method => "get"}  %></td>
  </tr>
<% end %>
</table>
</div>
</div>
	<div class="footerwrap">
		<br />
		<hr />
		<%= button_to 'START NEW MCI', new_incident_path, {:method => "get", :class => "button"}%>
		<br />
	</div>

