<div class="centerEverythingContainterNoBorder">
<h1>MCIs IN PROGRESS</h1>

<table id="mciTable">
  <tr>
    <th>Date</th>
    <th>Type</th>
    <th>Location</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Arrival Time</th>
    <th> </th>
    <th> </th>

  </tr>
<!-- </table>

<div class="scrollable">
<table id="mciTable"> -->
<% @incidents.each_with_index do |incident, i| %>
<% if i%2 == 0 %>
  <tr id ="even">
<%else %>
	<tr>
<% end%>

    <% if incident.date != nil %>
      <td><%= incident.date.strftime("%m/%d/%y %H:%I %p %Z") %></td>
    <% else %>
      <td> </td>
    <% end %>
	<% if incident.incident_type_id != nil %>
	<% incident_type_name = IncidentType.find(incident.incident_type_id)%>
    <td><%= incident_type_name.name %></td>
	<% else %>
	<td></td>
	<% end %>
    <td><%= incident.location %></td>
    <td><%= incident.latitude %></td>
    <td><%= incident.longitude %></td>
    <% if incident.arrivalTime != nil %>
      <td><%= incident.arrivalTime.strftime("%I:%M:%S %p") %></td>
     <td><%= button_to "Arrived", {:controller => 'incidents', :action => 'add_arrival', :id => incident.id}, {:disabled => true }%></td>
    <% else %>
      <td> </td>
      <td><%= button_to "Arrived", {:controller => 'incidents', :action => 'add_arrival', :id => incident.id}%></td>
      <% end %>

    
    <td><%= button_to 'OPEN', incident_patients_path(incident), {:method => "get"}  %></td>
  </tr>
<% end %>
</table>
<!-- </div> -->

	<div class="footerwrap">
		<br />
		<p>-----------------------------------------------------------------------------------------</p>
		<%= button_to 'START NEW MCI', new_incident_path, {:method => "get"} %>
		<br />
	</div>
</div>
