<div class="centerEverythingContainterNoBorder">
<h1>MCIs IN PROGRESS</h1>

<table id="mciTable">
  <tr>
    <th> Incident Id</th>
    <th>Date</th>
    <th>Type</th>
    <th>Location</th>
    <th>Longitude</th>
    <th>Latitude</th>
    <th>Arrival Time</th>
    <th> </th>
    <th> </th>
    <th></th>
  </tr>

<% @incidents.each_with_index do |incident, i| %>
<% if i%2 == 0 %>
  <tr id ="even">
<%else %>
	<tr>
<% end%>

    <td><%= incident.id %></td>
    <% if incident.date != nil %>
      <td><%= incident.date.strftime("%A, %B  %d, %Y - %I:%M:%S %p") %></td>

      <% else %>
      <td> </td>
      <% end %>
    <td><%= incident.incident_type %></td>
    <td><%= incident.location %></td>
    <td><%= incident.longitude %></td>
    <td><%= incident.latitude %></td>
    <% if incident.arrivalTime != nil %>
      <td><%= incident.arrivalTime.strftime("%I:%M:%S %p") %></td>
     <td><%= button_to "Arrived", {:controller => 'incidents', :action => 'add_arrival', :id => incident.id}, {:disabled => true }%></td>
    <% else %>
      <td> </td>
      <td><%= button_to "Arrived", {:controller => 'incidents', :action => 'add_arrival', :id => incident.id}%></td>
      <% end %>

    
    <td><%= button_to 'EDIT', edit_incident_path(incident), {:method => "get"}  %></td>
    <td><%= button_to 'OPEN', incident_patients_path(incident), {:method => "get"}  %></td>
  </tr>
<% end %>
</table>

	<div class="footerwrap">
		<br />
		<p>-----------------------------------------------------------------------------------------</p>
		<%= button_to 'START NEW MCI', new_incident_path, {:method => "get"} %>
		<br />
	</div>
</div>
