	<%= form_for(@incident) do |f| %>
	
	<% if @incident.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

	      <ul>
	      <% @incident.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
<div class="TopBar">
  
    <br />
    <h1 class="TopBarInterior">New MCI Information<hr /></h1><br />
 </div>
<div class="CountLogin"><br />
  <div class="CountInputs">
	<br />
	<h2>Initial patients count</h2>
	<%= submit_tag "-5", :type=> 'button', :class => 'minus5Patient' %>
	<%= submit_tag "-1", :type=> 'button', :class => 'minus1Patient'%>
	<%= f.text_field :est_patient_count, :value => '0', :id => 'fieldPatient' %>
	<%= submit_tag "+1", :type=> 'button', :class => 'plus1Patient'%>
	<%= submit_tag "+5", :type=> 'button', :class => 'plus5Patient'%>
	<br /><br /><br />
	<h2>Request ambulances</h2>
	<%= submit_tag "-5", :type=> 'button', :class => 'minus5Ambulance'%>
	<%= submit_tag "-1", :type=> 'button', :class => 'minus1Ambulance'%>
	<%= f.text_field :requested_amb_count, :value => '0', :id => 'fieldAmbulance' %>
	<%= submit_tag "+1", :type=> 'button', :class => 'plus1Ambulance'%>
	<%= submit_tag "+5", :type=> 'button', :class => 'plus5Ambulance'%>
	<br /><br /><br />
  </div>

	
	<%= f.submit "BEGIN TRIAGE", :class => "button"%>
	<% end %>
	<br /><br />
	<%= button_to 'BACK', incidents_path, {:method=>"get", :class => "button"} %>
	
</div>