<h1>Incident Reports</h1>

<%if !@incident.empty?%>
<table>
  <tr>
    <th>Incident Id</th>
    <th>Incident Type</th>
    <th>Incident Date</th>
    <th>Incident Location</th>

  </tr>

  <% @incident.each do |incident| %>
  <tr>
    <td> <%=incident.id %></td>
    <%incident_type_name = IncidentType.find(incident.incident_type_id) %>
    <td> <%=incident_type_name.name %></td>
    <td> <%=incident.date.strftime("%m/%d/%y %H:%M:%S %p %Z") %> </td>
    <td> <%=incident.location %></td>
    <td> <%= button_to "VIEW", {:controller => 'incidents', :action => 'viewreport', :id => incident.id}%> </td>
    <td> <%= button_to "Download Report (PDF)", viewreport_path(incident.id, :format => "pdf") %> </td>
  </tr>


<% end %>
</table>

<br />
<%else%>

<h3> There are no closed incidents to generate reports.  <%= link_to 'Back', incidents_path %> </h3>
<% end %>


