


<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%if !@exist.nil?%>
  User account already exists!<br />
  <%= link_to 'Login here', login_path, {:method=>"get"} %>
  <%else%>
  <div class="fieldLogin">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="fieldLogin">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div>
	<div class="fieldLogin">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
	</div>
  </div>
   <div>
	<div class="fieldLogin">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
	</div>
  </div>

  <div class="fieldLogin">
    <%= f.label :responder_id %><br />
    <%= f.text_field :responder_id %>
    
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  <% end %>

