<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="fieldLogin">
    <%= f.label "First Name" %><br />
    <%= f.text_field :fname %>
  </div>
  <div class="fieldLogin">
    <%= f.label "Last Name" %><br />
    <%= f.text_field :lname %>
  </div>
  <div class="fieldLogin">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="fieldLogin">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div>
	<div class="fieldLogin">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
	</div>
  </div>
   <div>
	<div class="fieldLogin">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
	</div>
  </div>
<div>
  <div class="fieldLogin">
    <%= f.label "User Role" %>
    <%= f.select :role_id, [["Responder",1],["Dispatcher",2],["Admin",3]] %>
  </div>
</div>
</div>
  <div class="actions">
    <%= f.submit "Create User", :class => "LongButton" %>
  </div>
<% end %>
<%=button_to 'BACK', :login, {:method => "get", :class => "ShortButton"}%>    

