<!--
For more information on the technology stack selected, please refer to the document "Technology feasibility analysis"
Developed by: Carnegie Mellon University - Team Triage
Copyright:    Field Applications 
-->

<div class="TopBar">
	<img class ="image"src ="../images/LogoWhite.png"/>
	<br />
	<h1 class="TopBarInterior">Listing users<hr /></h1><br />
</div>

<table id="mciTable">
  <tr>
    <th class="date">Name</th>
    <th class="date">Lastname</th>	
    <th class="date">Username</th>
    <th class="date">Email</th>
    <th class="open"></th>
    <th class="open"></th>
  </tr>

<% @users.each_with_index do |user, i| %>
  	<% if i%2 != 0 %>
    <tr id ="even">
  <%else %>
    <tr>
  <% end%>
	<td><%= user.fname %></td>
    <td><%= user.lname %></td>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
	<td><%= button_to 'Edit', edit_user_path(user), {:method => "get"}  %></td>
    <td><%= button_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete  %></td>
  </tr>
<% end %>
</table>

<br />


	<br />
	<hr />
	<center>
	<%= button_to 'Add a new user', new_user_path, {:method => "get", :class => "LongButton"}%>
	</center>	
	<br />

