<div class="TopBar">
	<br />
	<h1 class="TopBarInterior">Listing users<hr /></h1><br />
</div>

<table id="mciTable">
  <tr>
    <th class="date">Username</th>
    <th class="date">Email</th>
    <th class="open"></th>
    <th class="open"></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
