<h1>Listing responders</h1>

<table>
  <tr>
    <th>Idresponder</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @responders.each do |responder| %>
  <tr>
    <td><%= responder.idResponder %></td>
    <td><%= responder.firstName %></td>
    <td><%= responder.lastName %></td>
    <td><%= responder.title %></td>
    <td><%= link_to 'Show', responder %></td>
    <td><%= link_to 'Edit', edit_responder_path(responder) %></td>
    <td><%= link_to 'Destroy', responder, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Responder', new_responder_path %>
