<!--
For more information on the technology stack selected, please refer to the document "Technology feasibility analysis"
Developed by: Carnegie Mellon University - Team Triage
Copyright:    Field Applications 
-->

<%= form_for [@incident, @patient] do |patient| %>
	<%= patient.label :numberOfTag, "TAG #" %>
	<%= patient.text_field :numberOfTag, :class => "MidField" %>
	<%= patient.select( :tagColor, [['Red','Red'],['Yellow','Yellow'],['Green','Green'],['Black','Black']],{}, {:class => "ShortField"}) %>
	<%= patient.select :sex, [['Female','Female'],['Male','Male']],{}, {:class => "ShortField"} %>
	<%= patient.label :age, "AGE" %>
	<%= patient.text_field :age, :class => "ShortField" %>
	<%= patient.select( :ageType, [['Years','Years'],['Months','Months'], ['Days', 'Days']],{}, {:class => "ShortField"}) %>
	<%= patient.label :complaint, "COMPLAINT"%>
	<%= patient.text_field :complaint, :class => "LongField"%>
<%= patient.submit "ADD", :class => "ShortButton"%>
<input type="button" id="extra_options_min" value="+" class ="RedShortButton" >
<div id="extra_options">
        <%= patient.label "Status" %>
        <%= patient.select( :status, [['At Scene', 'At Scene'],['Transported','Transported'],['Missing/Left Scene','Missing/Left Scene']],{}, {:class => "ShortField"}) %>
        <%= patient.label "Hospital" %>
        <%= patient.collection_select(:hospital_id, Hospital.all ,:id, :name, {}, {:class => "LongField"}) %>
        <%= patient.label "Ambulance" %>
        <%= patient.collection_select(:ambulance_id, @incident.ambulances.all, :id, :idAmbulance, {}, {:class => "LongField"}) %>
</div>
<% end %>
