
<% hospitalname = Hospital.find(patient.hospital_id)%>

    <tr id="patient_<%= patient.id %>">
        <td id="tagnum_<%= patient.id%>"><%= editable_field patient, :numberOfTag, {:update_url => incident_patient_path(@incident, patient)} %></td>
        <% if patient.tagColor == "Black" %>
			<td id="color_<%= patient.id%>" class="blackPatient">
		<% elsif patient.tagColor == "Red" %>
			<td id="color_<%= patient.id%>" class="redPatient">
		<% elsif patient.tagColor == "Yellow" %>
			<td id="color_<%= patient.id%>" class="yellowPatient">
		<% else%>
			<td id="color_<%= patient.id%>" class="greenPatient">
		<% end %>					
		<%= editable_field patient, :tagColor, :type => 'select', :onblur => 'submit', :update_url => incident_patient_path(@incident, patient), :data => {'Green', 'Green', 'Black', 'Black', 'Yellow', 'Yellow', 'Red', 'Red'}%></td>
        <% if patient.sex == "Female"%>
			<td id="sex_<%= patient.id%>" class="femalePatient">
		<% else %>
			<td id="sex_<%= patient.id%>" class="malePatient">
		<% end %>
		<%= editable_field patient, :sex, :type => 'select', :onblur => 'submit', :data => {'Female', 'Female', 'Male', 'Male'}, :update_url => incident_patient_path(@incident, patient) %></td>
        <td id="age_<%= patient.id%>"><%= editable_field patient, :age, :update_url => incident_patient_path(@incident, patient) %></td>
        <td id="ageType_<%= patient.id%>" class="ageType"><%= editable_field patient, :ageType, :type => 'select', :onblur => 'submit', :data => {'Years', 'Years', 'Months', 'Months', 'Days', 'Days'}, :update_url => incident_patient_path(@incident, patient) %></td>
        <td id="complaint_<%= patient.id%>"><%= editable_field patient, :complaint, :update_url => incident_patient_path(@incident, patient) %></td>
        <td id="patient_status_<%= patient.id%>" class="patient_status"><%= editable_field patient, :status, :type => 'select', :onblur => 'submit', :data => {'At Scene', 'At Scene', 'Transported', 'Transported', 'Missing/Left Scene', 'Missing/Left Scene'}, :update_url => incident_patient_path(@incident, patient) %></td>
          <%= div_for hospitalname do %>
            <td id="hospital_patient_<%= patient.id%>" class="hospital_patient"><%= editable_field hospitalname, :name, :type => 'select', :onblur => 'submit', :data => @stringHospitals, :update_url => incident_patient_path(@incident, patient) %></td>
          <% end %>
          <td id="ambulance_patient_<%= patient.id%>" class="ambulance_patient"><%= editable_field Ambulance.find(patient.ambulance_id), :idAmbulance, :type => 'select', :onblur => 'submit', :data => @stringAmbulances, :update_url => incident_patient_path(@incident, patient) %></td>
        <td><%= button_to "X", [@incident, patient], :method=>:delete, :class=>:destroy, :confirm=>"Are you sure?", :remote => true %></td>
    </tr>

        
