<!--
For more information on the technology stack selected, please refer to the document "Technology feasibility analysis"
Developed by: Carnegie Mellon University - Team Triage
Copyright:    Field Applications 
-->

<h2><span class ="SelectedTab">TRIAGE</span>   <span class ="UnselectedTab"><%= link_to "AMBULANCE", incident_ambulances_path(@incident) %></span>     <span class ="UnselectedTab"><%= link_to "CLOSE", close_incident_path(@incident) %></span></h2>
<hr />
<div id="incident_info" data-id="<%= @incident.id %>"></div>
<div id="form_token" data-id="<%= form_authenticity_token %>"></div>
<% if current_user %>
  <% if User.find(current_user.id).role_id == 1 %>
    <div class="incident" id="patient_input" data-id="<%= @incident.id %>">
      <br />
      <%= render 'form' %>
      <br />
    </div>
    <center><span class="highlight"<a class="min_toggle"id="min_patient_form" >PATIENT FORM</a></span></center>
  <% end %>
<% end %>
	<div id="patient-notice"></div>
	<br />


	<div class="scrollable2">
		<div class="patientsTable">
			<table id="tableForPatients">
				<thead>
				<tr>
		    		<th>TAG#</th>
		    		<th>COLOR</th>
		    		<th>SEX</th>
		    		<th>AGE</th>
		    		<th></th>
		    		<th>COMPLAINT(S)</th>
                                <th>STATUS</th>
				<th>HOSPITAL</th>
				<th>AMBULANCE</th>
				<% if @current_user %>
					<% if @current_user.role_id == 1 %>
						<th class="open">DELETE</th>
					<%end%>
				<%end%>
				</tr>
				</thead>		
				<tbody id="tbody_created_patients" class="tbody_created_patients">

                                  <%= render :partial => @patients, :locals => {:list => true} %>
                                  
				</tbody>
			</table>
		</div>
	
</div>
        
<br />

