
<h1>INCIDENT TRIAGE TAB</h1>
REQUESTED AMBULANCES: <%= @incident.requested_amb_count %><br />
ESTIMAGED PATIENT COUNT: <%= @incident.est_patient_count %><br />
TAGGED PATIENTS: <%= @patients.count%>

<br />

<%= render 'form' %>

<br />
<hr />

<div id="patient-notice"></div>
<br />
<div id="patients">
	<table>
	<%= render :partial => @patients, :locals => {:list => true} %>
	</table>
</div>
<br />
<%= link_to "AMBULANCE TAB", incident_ambulances_path(@incident) %>

