<!--
For more information on the technology stack selected, please refer to the document "Technology feasibility analysis"
Developed by: Carnegie Mellon University - Team Triage
Copyright:    Field Applications 
-->

<div class="TopBar">
	<img class ="image"src ="../images/LogoWhite.png"/>
	<br />
	<h1 class="TopBarInterior">Listing of hospitals<hr /></h1><br />
</div>

<table id="mciTable">
  <tr>
    <th class="location">Name</th>
    <th class="location">Address</th>
    <th class="open"></th>
    <th class="open"></th>
  </tr>

<% @hospitals.each_with_index do |hospital, i| %>
  <%if hospital.name != "Not yet defined"%>
  	<% if i%2 != 0 %>
    	<tr id ="even">
  			<%else %>
    	<tr>
  			<% end%>
   			<td><%= hospital.name %></td>
    		<td><%= hospital.address %></td>
			<td><%= button_to 'Edit', edit_hospital_path(hospital), {:method => "get"}  %></td>
    		<td><%= button_to 'Delete', hospital, :confirm => 'Are you sure?', :method => :delete  %></td>
  		</tr>
	<% end %>
  <% end %>
</table>

<br />

<div class="footerwrap">
	<br />
	<hr />
	<%= button_to 'Add a new hospital', new_hospital_path, {:method => "get", :class => "LongButton"}%>
	<br />
</div>

