<div class="TopBar">
	<br />
	<h1 class="TopBarInterior">Listing of hospitals<hr /></h1><br />
</div>

<table id="mciTable">
  <tr>
    <th class="location">Name</th>
    <th class="location">Address</th>
    <th class="open"></th>
    <th class="open"></th>
  </tr>

<% @hospitals.each do |hospital| %>
  <tr>
    <td><%= hospital.name %></td>
    <td><%= hospital.address %></td>
    <td><%= link_to 'Edit', edit_hospital_path(hospital) %></td>
    <td><%= link_to 'Destroy', hospital, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hospital', new_hospital_path %>
