<p id="notice"><%= notice %></p>

<p>
  <b>Idhospital:</b>
  <%= @hospital.idHospital %>
</p>

<p>
  <b>Name:</b>
  <%= @hospital.name %>
</p>

<p>
  <b>Address:</b>
  <%= @hospital.address %>
</p>


<%= link_to 'Edit', edit_hospital_path(@hospital) %> |
<%= link_to 'Back', hospitals_path %>
