<!--
For more information on the technology stack selected, please refer to the document "Technology feasibility analysis"
Developed by: Carnegie Mellon University - Team Triage
Copyright:    Field Applications 
-->

<%= form_for(@incident_type) do |f| %>
	<% if @incident_type.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@incident_type.errors.count, "error") %> prohibited this incident_type from being saved:</h2>
      		<ul>
      			<% @incident_type.errors.full_messages.each do |msg| %>
        			<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="fieldLogin">
    	<%= f.label :name %><br />
    	<%= f.text_field :name %>
	</div>

	<div class="actions">
		<%= f.submit :class => "LongButton"%>
	</div>
<% end %>
