<!DOCTYPE html>
<html>
<head>
  <title>JavascriptTest</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>
  <%= javascript_include_tag "jquery-rails.js" %>
  <%= javascript_include_tag "jquery.jeditable.js" %>
  <%= javascript_include_tag "jquery.cookie.js" %>
  <%= javascript_include_tag "jquery.tablesorter.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  <div id="collapsable" class="header_bar">
  <div class="left-long">
	<b>INCIDENT</b><br/>
    <%= @incident.date %><br />
	<% incidentTypeName = IncidentType.find(@incident.incident_type_id)%>
	<%= div_for incidentTypeName do %>
    <%= editable_field incidentTypeName, :name, :type => 'select', :submit => 'OK', :data => @stringIncidentType, :update_url => resourceupdate_path %>
	<% end %>
	<%= editable_field @incident, :location, :update_url => resourceupdate_path%>    
    <br />
    LAT: <%= editable_field @incident, :latitude, :update_url => resourceupdate_path %> | LONG: <%= editable_field @incident, :longitude, :update_url => resourceupdate_path %>    
  </div>

	
  <div class="left">
    <b>PATIENTS</b><br/>
    ESTIMATED: <%= @incident.est_patient_count %><br />
    <div id="tagged">TAGGED: <%= @patients.count%><br /></div>
    <table class="summary">
      <tr>
        <td id="red_triage" class="red"><%= @incident.color_dist("Red") %></td>
        <td id="yellow_triage" class="yellow"><%= @incident.color_dist("Yellow") %></td>
        <td id="green_triage" class="green"><%= @incident.color_dist("Green") %></td>
        <td id="black_triage" class="black"><%= @incident.color_dist("Black") %></td>
      </tr>
    </table> 
   </div>
  <div class="left">
    <b>AMBULANCES</b><br/>
    <table class="ambulance">
      <tr>
        <td>REQUESTED: <%= @incident.requested_amb_count %></td>
        <td>EN ROUTE: <%= @incident.amb_count("En Route")%><br /></td>
      </tr>
      <tr>
        <td>AT SCENE: <%= @incident.amb_count("Arrived") %></td>
        <td>DELAYED: <%= @incident.amb_count("Delayed") %><br /></td>
      </tr>
      <tr>
        <td>STAGING: <%= @incident.amb_count("Staged") %></td>
        <td>TRANSPORTED: <%= @incident.amb_count("Transported") %></td>
      </tr>
    </table>
    </div>
  <div class="right">
    <% if current_user %>
      <%= current_user.username%> LOGGED IN
      <br /><%= link_to "EXIT", :logout %>
    <% else %>
      NO USER
      <br /><%= link_to "LOGIN", :login %>
    <% end %>    
    <br />
  

  </div>
   
  </div>
  <hr /><div class="centerEverythingContainterNoBorder"><a class="min_toggle" id="min" >SUMMARY RIBBON</a></div>
  
<%= yield %>
     
</body>
</html>