<!DOCTYPE html>
<html>
<head>
  <title>JavascriptTest</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>
  <%= javascript_include_tag "jquery-rails.js" %>
  <%= javascript_include_tag "jquery.jeditable.js" %>
  <%= javascript_include_tag "application.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="header_bar_container">
  <div id="collapsable" class="header_bar">
  <div class="left-long">
    <b>INCIDENT</b><br/>
<<<<<<< HEAD
    <%= @incident.date %><br />
    <%= editable_field @incident, :incident_type, :type => 'select',:submit=> 'OK', :data => {'Motor Vehicle Collision', 'Motor Vehicle Collision','Building Fire', 'Building Fire', 'Harmful Material Release', 'Harmful Material Release'}, :update_url => resourceupdate_path%>    
    <br />
    <%= editable_field @incident, :location, :update_url => resourceupdate_path%>    
    <br />
    LAT: <%= editable_field @incident, :latitude, :update_url => resourceupdate_path %> | LONG: <%= editable_field @incident, :longitude, :update_url => resourceupdate_path %>    
    
=======
    <%= @incident.date %><br/>
	<% if @incident.incident_type_id != nil %>
	<% incident_type_name = IncidentType.find(@incident.incident_type_id)%>
    <td><%= incident_type_name.name %></td>
	<% else %>
	<td></td>
	<% end %>
    <br />
    <%= @incident.location %><br />
    LAT <%= @incident.latitude %> LONG <%= @incident.longitude %>
>>>>>>> 4abfb31068c0b6988fd4e913ddc0bff42f2a6320
    
  </div>
  <div class="left">
    <b>PATIENTS</b><br/>
    ESTIMAGED: <%= @incident.est_patient_count %><br />
    TAGGED: <%= @patients.count%><br />
    <table class="summary">
      <tr>
        <td class="red"><%= @incident.color_dist("Red") %>
        <td class="yellow"><%= @incident.color_dist("Yellow") %></td>
        <td class="green"><%= @incident.color_dist("Green") %></td>
        <td class="black"><%= @incident.color_dist("Black") %></td>
      </tr>
    </table> 
   </div>
  <div class="left">
    <b>AMBULANCES</b><br/>
    REQUESTED: <%= @incident.requested_amb_count %><br />
    EN ROUTE: <%= @incident.amb_count("En Route")%><br />
    AT SCENE: <%= @incident.amb_count("Arrived") %>
  </div>
  <div class="right">
    <% if current_user %>
      <%= current_user.username%> LOGGED IN
      <br /><%= link_to "Logout", :logout %>
    <% else %>
      NO USER
      <br /><%= link_to "Login", :login %>
    <% end %>    
    <br />
  

  </div>
   
  </div>
    
   ---------------------------------------------------------------------------------<a id="min" >Toggle</a>---------------------------------------------------------------------------------
</div>
   <script>
     $('#min').click( function() {
  $("#collapsable").toggle("slow");
});

   </script>



  
<%= yield %>

</body>
</html>